<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.decodetalkers.personalinterestsmanager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name="com.decodetalkers.radioalarm.application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalInterestsManagerPrimary"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoadLocalMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PlaylistContentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SelectFavouritesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SongDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_song_detail" />
        <activity
            android:name=".ui.MovieDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".nearestlbookstorefinder.NearestBookstoreActivity"
            android:exported="true"
            android:label="@string/title_activity_nearest_bookstore" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>